<section>
    <h3 class="text-center mb-5">
        <span class="badge text-bg-warning w-md-auto d-inline-flex align-items-center gap-2 p-3 text-wrap">
            <img src="assets/icons/phone-svgrepo-com.svg" width="32" height="32" alt="Saludo">
        <span class="fs-5 text-break">Contactame</span>
        </span>
    </h3> 
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <a href="">
                    <div class="card shadow" style="max-width: 100%;">
                        <div class="card-body">
                            <img src="assets/icons/github-svgrepo-com.svg" width="32" height="32" alt=""> GitHub
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="">
                    <div class="card shadow" style="max-width: 100%;">
                        <div class="card-body">
                            <img src="assets/icons/linkedin-1-svgrepo-com.svg" width="32" height="32" alt=""> LinkedIn
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="">
                    <div class="card shadow" style="max-width: 100%;">
                        <div class="card-body">
                            <img src="assets/icons/gmail-svgrepo-com.svg" width="32" height="32" alt=""> Email
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="">
                    <div class="card shadow" style="max-width: 100%;">
                        <div class="card-body">
                            <img src="assets/icons/logo_freelancer_com_icon_160826.svg" width="32" height="32" alt=""> Frelancer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<p class="text-center m-5 copy">Desarrollado por Rafael Bernal Gallegos. &copy; 2025. Todos los derechos reservados.</p>
