<section id="contactMe">
    <h3 data-aos="zoom-in" class="text-center m-3">
        <span class="badge text-bg-warning w-md-auto contact-me d-inline-flex align-items-center gap-2 p-3 text-wrap">
            <img src="assets/icons/phone-svgrepo-com.svg" width="32" height="32" alt="Saludo">
            <span class="fs-5 text-break">Contactame</span>
        </span>
    </h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 myLink text-center">
                <a href="https://github.com/DoelGm">
                    <div class="card shadow p-4 bg-dark text-white">
                        <div class="card-body">
                            <img src="assets/icons/github-svgrepo-com.svg" width="32" height="32" alt="" class="img-fluid"> GitHub
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 myLink text-center">
                <a href="https://www.linkedin.com/in/rafael-bernal-gallegos-934808260/">
                    <div class="card shadow p-4 bg-primary text-white">
                        <div class="card-body">
                            <img src="assets/icons/linkedin-1-svgrepo-com.svg" width="32" height="32" alt="" class="img-fluid"> LinkedIn
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 myLink text-center">
                <a href="mailto:rbernalgallegos@gmail.com">
                    <div class="card shadow p-4">
                        <div class="card-body">
                            <img src="assets/icons/gmail-svgrepo-com.svg" width="32" height="32" alt="" class="img-fluid"> Email
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 myLink text-center">
                <a href="https://www.freelancer.mx/u/Doeel">
                    <div class="card shadow p-4 bg-info text-white">
                        <div class="card-body">
                            <img src="assets/icons/logo_freelancer_com_icon_160826.svg" width="32" height="32" alt="" class="img-fluid"> Freelancer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<p class="text-center m-5 copy">Desarrollado por Rafael Bernal Gallegos. &copy; 2025. Todos los derechos reservados.</p>
