a{
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 2% 0;
}
.copy{
    text-align: center;
    color: #000000;
    padding: 2% 0;
    font-size: 1.2rem;
}
section{
    height: 60vh;
    padding: 10px;
    background-color: #ececec;
    background-image: url('/assets/icons/wave.svg');
    background-attachment: outset;
    background-repeat: no-repeat;
    background-size: cover;
}