<h1>Mis trabajos</h1>
<div class="row mb-5">
    <div class="col-md-6">
        <img src="" alt="">
    </div>
    <div class="col-md-6">
        <h2> <img src="/assets/icons/pc-svgrepo-com.svg" width="50px" height="50px" alt="">Ecomers De Papel de Regalo</h2>
        <p>Ocupé el rol de desarrollador backend, utilizando tecnologías como Node.js. Estuve a cargo del diseño y desarrollo de múltiples APIs clave para el funcionamiento del sitio web.</p>
        <p>Además, implementé un sistema de autenticación y autorización de usuarios, asegurando la protección de datos sensibles y la privacidad de los usuarios.</p>
        <button class="btn btn-warning">Visitar</button>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-6">
        <img src="" alt="">
    </div>
    <div class="col-md-6">
        <h2><img src="/assets/icons/tornado-svgrepo-com.svg" width="50px" height="50px" alt=""> Hidrobladers</h2>
        <p>En este proyecto participé en el desarrollo frontend utilizando Angular, donde trabajé con HTML y CSS para el diseño y la implementación de las interfaces y pantallas del sitio web.</p>
        <p>Además, utilicé Bootstrap para asegurar que el sitio web fuera responsivo y se adaptara a diferentes dispositivos y tamaños de pantalla.</p>        
        <button class="btn btn-warning">Visitar</button>
    </div>
</div>


