
#myWork {
  background: #f9fafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myWorksImg {
  max-width: 420px;
  transition: transform 0.3s ease;
}

.myWorksImg:hover {
  transform: scale(1.05);
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #212529;
}

p {
    text-align: justify;
  font-size: 1.1rem;
  color: #495057;
  
}
@media (max-width: 768px) {

    .text{
        text-align: justify;
        font-size: 0.8rem;
   }
}