
#myWork {
  position: relative;
  background: url('/assets/imgs/shapelined-_JBKdviweXI-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
.card {
  transition: transform 0.8s ease;
}
.card:hover {
  transform: scale(1.01);
}

#myWork::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
  background: rgba(255,255,255,0.6);
}

.myWorksImg {
  max-width: 420px;
  transition: transform 0.3s ease;
}

.myWorksImg:hover {
  transform: scale(1.05);
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #212529;
}

p {
    text-align: justify;
  font-size: 1.1rem;
  color: #495057;
  
}
@media (max-width: 768px) {

    .text{
        text-align: justify;
        font-size: 0.8rem;
   }
}