.myWorks{
    box-shadow: 12px 12px 12px -12px #00000077;
}

.myWorksImg img{
    box-shadow: 12px 12px 12px -12px #00000077;
}
.myWorksImg:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    
}
.text{
    text-align: justify;
}
@media (max-width: 768px) {

    .text{
        text-align: justify;
        font-size: 0.8rem;
   }
}