a{
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 2% 0;
}
.copy{
    text-align: center;
    color: #000000;
    padding: 2% 0;
    font-size: 1.2rem;
}
section{
    height: 45vh;
    padding: 10px;
    background-color: #ececec;
    background-image: url('/assets/icons/wave.svg');
    background-attachment: outset;
    background-repeat: no-repeat;
    background-size: cover;
}
.myLink:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.contact-me{
    box-shadow: 12px 12px 12px -12px #00000077;
}

@media (max-width: 768px) {
    section{
        height: 80vh;
    }
    
}