<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark">
    <div class="container-fluid">
      <img src="assets/imgs/yo.jpg" alt="Logo" width="70" height="70" class="d-inline-block myImg align-text-top">
      <a class="navbar-brand" href="#">
        Rafael Bernal Gallegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutMe">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myTools">Lo que domino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myWork">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactMe">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://drive.google.com/file/d/11x3vd3NvUxAYY9odUEbRMgWD9PAlqu-9/view?usp=sharing">CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  